body {
    background-color: #b3afaf;
}

.log-form {
    width: 390px;
    height: 545px;
    background: white;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
}

.log-form h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: normal;
}

.log-form input[type=email],
.log-form input[type=password] {
    width: 280px;
    border: none;
    border-bottom: 1px solid #adadad;
    color: #9999b5;
    margin: 20px 0;
    padding-bottom: 5px;
    font-size: 16px;
}

.log-form button {
    width: 280px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 30px;
    margin: 40px 0;
    border: none;
    background-image: linear-gradient(to right, #23d1fd, #b524ff);
    cursor: pointer;
}

.log-form button:hover {
    transition: linear;
    transition-duration: 3s;
    background-image: linear-gradient(to right, #b524ff, #23d1fd);
}

.log-form p {
    position: relative;
    top: 75px;
    font-size: 10px;
}

.log-form a {
    text-decoration: none;
}

form div:nth-child(2) i {
    position: relative;
    left: 130px;
    bottom: 45px;
    opacity: 0.4;
    cursor: pointer;
}